* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Product container */
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: 300px;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.product img {
  transform: scale(0.6);
  height: 60%;
  padding: 10px;
}

.product h3 {
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.product p {
  height: 20px;
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.product span {
  margin: 10px 0;
  font-size: 0.8rem;
}

.product button {
  margin: 10px 0;
}

/* Search */
.search {
  margin: 50px 0;
  width: 50%;
  padding: 10px;
  font-size: 1rem;
}
